.container
{
    position: relative;
    top: 50px;
    width: 50%;
    font-size: 1.5vw;
    box-shadow: 1px 3px 3px black;
    border-radius: 5px;
    padding: 0px 80px;
    background-color: rgb(223, 225, 226, 0.5);
}
.button{
    text-align: center;
    margin: auto;
    padding: 10px;
}
button{
    padding: 10px;
    box-shadow: 2px 2px 3px black;
    margin: 5px 10px;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
}
#form-submitted
{
    color: green;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    background-color: rgb(190, 187, 187, 0.3);
    width: 22%;
    margin: auto;
    border-radius: 5px;
}
.is-invalid
{
    border: 1px solid rgb(206, 1, 1);
}

.is-required
{
    display: none;
    color: red;
}