h1{
    margin-bottom: 30px;
}
.delete
{
    color: white;
    text-align: center;
    cursor: pointer;
}
.delete :hover{
    background-color: rgb(66, 38, 190);
    /* padding: 10px; */
}
button{
    font-size: 25px;
}
table{
    width: 70%;
    margin: auto;
    font-size: 25px;
}
th,td{
    text-align: center;

}
